$breakpoints: (
  mobile: 480px,
  tablet: 768px,
  laptop: 1440px,
);

@mixin mobile {
  @media (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: map-get($breakpoints, laptop)) {
    @content;
  }
}